In [1]:
# Add the genderComputer library to the path
import os
import sys

path = os.path.join(os.getcwd(), 'vendor', 'genderComputer')
sys.path.insert(0, path)

In [2]:
# Infer the gender of the authors
import analyze_genders

df = analyze_genders.dataframe()
first_author = df['author_position'] == 0

In [3]:
# Group by conference and calculate the ratio of male to female authors
by_conf = df[first_author].drop(columns=['author_position', 'year']).groupby(df['conf']).sum()
by_conf['m/f'] = by_conf['male'] / by_conf['female']

by_conf

        male  female  unisex  unknown       m/f
conf
edbt     550     211      22      128  2.606635
icde     940     444     134      589  2.117117
kdd     1264     549     185      763  2.302368
pvldb   1266     430      85      525  2.944186
sigir   1392     556     125      641  2.503597
sigmod   999     334      48      419  2.991018

In [4]:
# Group by year and calculate the ratio of male to female authors
by_year = df[first_author].drop(columns=['author_position', 'year']).groupby(df['year']).sum()
by_year['m/f'] = by_year['male'] / by_year['female']

by_year

      male  female  unisex  unknown       m/f
year
2010   524     157      34      180  3.337580
2011   500     186      50      199  2.688172
2012   534     177      49      225  3.016949
2013   576     194      34      217  2.969072
2014   548     214      53      253  2.560748
2015   601     239      50      213  2.514644
2016   605     232      52      267  2.607759
2017   593     218      50      308  2.720183
2018   614     289      76      318  2.124567
2019   684     258      72      402  2.651163
2020   632     360      79      483  1.755556